/* Problem Timer */
#problem-timer .dropdown-menu {
  width: 200px;
  padding: 5px;
  text-align: center;
}

#problem-timer .dropdown-menu input.timer-number {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 4px 6px;
  width: 50px;
  text-align: center;
  margin: 3px;
}

/* Search Page */
.s-results .inner-results h3 a.result-pac {
  color: #efc050;
}
.s-results .inner-results h3 a.result-ac {
  color: #009874;
}
.s-results .inner-results h3 a.result-wa {
  color: #dd4124;
}

/* Quick Search */
#quick-search {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.075);
  backdrop-filter: blur(3px);
}

#quick-search .form-group {
  box-shadow: 0 0 3em rgb(0, 0, 0, 0.5);
  margin-bottom: 0;
}

#quick-search .results {
  background-color: #ffffff;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: 0;
}

#quick-search .results::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#quick-search .results::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 1rem;
}
#quick-search .results::-webkit-scrollbar-thumb:hover {
  background: #888;
}

#quick-search .results:empty {
  display: none;
}

#quick-search .results .quick-search-item:first-child {
  padding-top: 2rem;
}
#quick-search .results .quick-search-item:last-child {
  padding-bottom: 2rem;
}

#quick-search .results .quick-search-item {
  display: block;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #efefef;
}

#quick-search .results .quick-search-item b,
#quick-search .results .quick-search-item em,
#quick-search .results .quick-search-item strong {
  background-color: rgba(255, 255, 64, 0.25);
}

#quick-search .results .quick-search-item > .search-breadcrumb {
  margin-left: 0;
  margin-bottom: 3px;
}
#quick-search .results .quick-search-item > .search-breadcrumb > li {
  padding: 0;
}
#quick-search .results .quick-search-item > .search-breadcrumb > li + li:before,
#quick-search .results .quick-search-item .links > .problem + .problem:before {
  content: '/\00a0';
}

#quick-search .results .quick-search-item > .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}

#quick-search .results .quick-search-item > .meta {
  color: #999;
  margin-bottom: 5px;
}
#quick-search .results .quick-search-item > .meta .date,
#quick-search .results .quick-search-item > .meta .comments,
#quick-search .results .quick-search-item > .meta .author {
  margin-right: 0.8em;
}

#quick-search .results .quick-search-item > .desc {
  margin-bottom: 5px;
  overflow-wrap: break-word;
}

#quick-search .results .quick-search-item > .links > a {
  margin-right: 1em;
}
#quick-search .results .quick-search-item > .links > .tag {
  display: inline-block;
  color: #6a9299;
  margin-right: 0.5em;
}
#quick-search .results .quick-search-item .links > .problem {
  display: inline-block;
  margin-right: 3px;
}

#quick-search .results-footer {
  color: #999;
  text-align: right;
}

#quick-search .more-button {
  display: block;
  margin: 0 auto;
  display: block;
  width: max-content;
  border-radius: 5em !important;
  padding-left: 2em;
  padding-right: 2em;
}
#quick-search .tabs .tab {
  display: inline-block;
  padding: 0.5em 2em;
  border: 1px solid transparent;
  border-bottom: none;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  color: #565656;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
#quick-search .tabs .tab:hover,
#quick-search .tabs .tab:active {
  background-color: rgb(163, 163, 163, 0.5);
  border-color: rgb(147, 147, 147, 0.5);
  color: #141414;
}
#quick-search .tabs .tab.active {
  border-color: #bfbfbf;
  background-color: #ffffff;
  font-weight: bold;
  color: #000000;
  cursor: default;
}

/* Topbar */
.topbar .loginbar > li > a {
  cursor: pointer;
}
