/* Marker */
.table > thead > tr.result-mine > td:first-child,
.table > tbody > tr.result-mine > td:first-child,
.table > tfoot > tr.result-mine > td:first-child {
  border-left: 4px solid #2980b9;
}

/* Problem Text */
.table tr td:nth-child(3) > img.solvedac-tier {
  float: left;
}
.table tr td:nth-child(3) > a[href^='/problem/'] {
  float: left;
  margin-left: 4px;
  width: 76px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container-fluid .table tr td:nth-child(3) > a[href^='/problem/'] {
  width: calc(100% - 32px);
}
@media (min-width: 769px) and (max-width: 992px) {
  .table tr td:nth-child(3) > a[href^='/problem/'] {
    width: 116px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .table tr td:nth-child(3) > a[href^='/problem/'] {
    width: 122px;
  }
}
@media (min-width: 1200px) {
  .table tr td:nth-child(3) > a[href^='/problem/'] {
    width: 154px;
  }
}

/* Fake Text */
.table tr td.result .result-fake-text,
.table tr td.result.has-fake .result-text {
  display: none;
}
.table tr td.result.has-fake .result-fake-text {
  display: initial;
}
.table tr td.result.has-fake .result-fake-text > a[href],
.table tr td.result.has-fake .result-fake-text > a[href] > * {
  text-decoration: underline;
}
.result-fake-text .result-b,
.result-fake-text .result-strong {
  font-weight: bold;
}
.result-fake-text .result-i {
  font-style: italic;
}
.result-fake-text .result-u {
  text-decoration: underline;
}
.result-fake-text .result-strike {
  text-decoration: line-through;
}
.result-green,
.result-acc,
.result-accept {
  color: #009874;
  font-weight: bold;
}
.result-red,
.result-wrong,
.result-fail {
  color: #dd4124;
}
.result-time,
.result-memory {
  color: #fa7268;
}
.result-gray,
.result-grey {
  color: #a49e9e;
}
.result-yellow,
.result-partial {
  color: #efc050;
  font-weight: bold;
}
.result-blue {
  color: #0f4c81;
}
.result-purple,
.result-re,
.result-runtime {
  color: #5f4b8b;
}
