.problem-toggles label {
  margin-left: 5px;
  margin-right: 10px;
}

.panel-body a > .pid, .panel-body a > .pname {
  display: none;
}

.panel-body[show-id] a > .pid {
  display: inherit !important;
}

.panel-body[show-name] a > .pname {
  display: inherit !important;
}

.panel-body a:after {
  content: ' / ';
  text-decoration: none !important;
}

.panel-body a:last-child:after {
  content: '' !important;
}