html[theme='dark'] ::-webkit-scrollbar {
  width: auto;
}
html[theme='dark'] ::-webkit-scrollbar-track {
  background: #1f1f1f;
}
html[theme='dark'] ::-webkit-scrollbar-thumb {
  background: #6a6a6a;
}
html[theme='dark'] ::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}
html[theme='dark'] ::-webkit-scrollbar-button {
  background: no-repeat #2f2f2f;
  background-size: 0.75em;
}
html[theme='dark'] ::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%235a6268'><polygon points='0,50 100,50 50,0'/></svg>");
  background-position: center bottom;
}
html[theme='dark'] ::-webkit-scrollbar-button:vertical:increment {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%235a6268'><polygon points='0,0 100,0 50,50'/></svg>");
  background-position: center bottom;
}
html[theme='dark'] ::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%235a6268'><polygon points='0,50 40,10 40,90'/></svg>");
  background-position: right center;
}
html[theme='dark'] ::-webkit-scrollbar-button:horizontal:increment {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%235a6268'><polygon points='20,10 20,90 70,50'/></svg>");
  background-position: right center;
}
html[theme='dark'],
html[theme='dark'] body {
  color: #dfdfdf;
  background-color: #161616;
}
html[theme='dark'] p,
html[theme='dark'] li {
  color: #dfdfdf;
}
html[theme='dark'] a {
  color: #89c4e8;
}
html[theme='dark'] h1,
html[theme='dark'] h2,
html[theme='dark'] h3,
html[theme='dark'] h4,
html[theme='dark'] h5,
html[theme='dark'] h6 {
  color: #cfcfd0;
}
html[theme='dark'] legend {
  color: #eaeaea;
}
html[theme='dark'] blockquote {
  border-left-color: #3f3f3f;
}
html[theme='dark'] blockquote:hover,
html[theme='dark'] blockquote.text-right:hover {
  border-color: #6eacd4;
}
html[theme='dark'],
html[theme='dark'] .wrapper {
  background: #161616;
}
html[theme='dark'] .header {
  background-color: #161616;
  color: white;
  border-bottom: solid 2px #202020;
}
html[theme='dark'] .header .navbar-default .navbar-nav > li > a {
  color: #a2a4a5;
}
html[theme='dark'] .header .navbar-default .navbar-nav > li:hover > a {
  color: #c9c9c9;
  border-bottom-color: #8a8a8a;
}
html[theme='dark'] .header .navbar-default .navbar-nav > .active > a {
  color: white;
  border-color: #eeeeee;
}
html[theme='dark'] .header .mega-menu .mega-menu-content {
  background: #0e0e0e;
}
html[theme='dark'] .header .dropdown-menu {
  border-top: solid 2px #949494;
}
@media (min-width: 992px) {
  html[theme='dark'] .header .mega-menu .equal-height-in {
    border-left-color: #191919;
  }
}
html[theme='dark'] .page-header {
  border-bottom-color: #4a4a4a;
}
html[theme='dark'] .headline {
  border-bottom-color: #757575;
}
html[theme='dark'] .headline h2,
html[theme='dark'] .headline h3,
html[theme='dark'] .headline h4 {
  border-bottom-color: #b5b5b5;
}
html[theme='dark'] .modal-content {
  background-color: #202020;
}
html[theme='dark'] table.table tr td a {
  color: #89c4e8;
}
html[theme='dark'] .table-striped > tbody > tr:nth-child(odd) > td,
html[theme='dark'] .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #111;
  border-color: #333;
}
html[theme='dark'] .table-bordered {
  border-color: #333;
}
html[theme='dark'] .table-bordered > thead > tr > th,
html[theme='dark'] .table-bordered > tbody > tr > th,
html[theme='dark'] .table-bordered > tfoot > tr > th,
html[theme='dark'] .table-bordered > thead > tr > td,
html[theme='dark'] .table-bordered > tbody > tr > td,
html[theme='dark'] .table-bordered > tfoot > tr > td {
  border-color: #333;
}
html[theme='dark'] .table-hover > tbody > tr:hover > td,
html[theme='dark'] .table-hover > tbody > tr:hover > th {
  background-color: #232323;
}
html[theme='dark'] .table > thead > tr > th,
html[theme='dark'] .table > tbody > tr > th,
html[theme='dark'] .table > tfoot > tr > th,
html[theme='dark'] .table > thead > tr > td,
html[theme='dark'] .table > tbody > tr > td,
html[theme='dark'] .table > tfoot > tr > td {
  border-color: #2d2d2d;
}
html[theme='dark'] .table > thead > tr > td.success,
html[theme='dark'] .table > tbody > tr > td.success,
html[theme='dark'] .table > tfoot > tr > td.success,
html[theme='dark'] .table > thead > tr > th.success,
html[theme='dark'] .table > tbody > tr > th.success,
html[theme='dark'] .table > tfoot > tr > th.success,
html[theme='dark'] .table > thead > tr.success > td,
html[theme='dark'] .table > tbody > tr.success > td,
html[theme='dark'] .table > tfoot > tr.success > td,
html[theme='dark'] .table > thead > tr.success > th,
html[theme='dark'] .table > tbody > tr.success > th,
html[theme='dark'] .table > tfoot > tr.success > th,
html[theme='dark'] td.accepted {
  border-color: #5c804d;
  background-color: #6c8e5e;
}
html[theme='dark'] .table > thead > tr > td.success a,
html[theme='dark'] .table > tbody > tr > td.success a,
html[theme='dark'] .table > tfoot > tr > td.success a,
html[theme='dark'] .table > thead > tr > th.success a,
html[theme='dark'] .table > tbody > tr > th.success a,
html[theme='dark'] .table > tfoot > tr > th.success a,
html[theme='dark'] .table > thead > tr.success > td a,
html[theme='dark'] .table > tbody > tr.success > td a,
html[theme='dark'] .table > tfoot > tr.success > td a,
html[theme='dark'] .table > thead > tr.success > th a,
html[theme='dark'] .table > tbody > tr.success > th a,
html[theme='dark'] .table > tfoot > tr.success > th a,
html[theme='dark'] td.accepted {
  color: #ebf5e7;
}
html[theme='dark'] .table > thead > tr.result-mine > td:first-child,
html[theme='dark'] .table > tbody > tr.result-mine > td:first-child,
html[theme='dark'] .table > tfoot > tr.result-mine > td:first-child {
  border-left: 4px solid #6284a7;
}
html[theme='dark'] .table > thead > tr > td.info,
html[theme='dark'] .table > tbody > tr > td.info,
html[theme='dark'] .table > tfoot > tr > td.info,
html[theme='dark'] .table > thead > tr > th.info,
html[theme='dark'] .table > tbody > tr > th.info,
html[theme='dark'] .table > tfoot > tr > th.info,
html[theme='dark'] .table > thead > tr.info > td,
html[theme='dark'] .table > tbody > tr.info > td,
html[theme='dark'] .table > tfoot > tr.info > td,
html[theme='dark'] .table > thead > tr.info > th,
html[theme='dark'] .table > tbody > tr.info > th,
html[theme='dark'] .table > tfoot > tr.info > th {
  background-color: #13587b;
  border-color: #124c69;
}
html[theme='dark'] .thumbnail {
  background-color: #222222;
  border-color: #333333;
  color: white;
}
html[theme='dark'] .thumbnail h3 a,
html[theme='dark'] .thumbnail-style h3 a {
  color: #c5c5c5;
}
html[theme='dark'] .footer-v3 .footer {
  background-color: rgb(255, 255, 255, 0.02);
  border-top: 5px solid #1f1f1f;
}
html[theme='dark'] .form-control {
  color: #eee;
  background-color: #191919;
  border-color: #2f2f2f;
}
html[theme='dark'] .form-control input::placeholder {
  color: #dfdfdf;
}
html[theme='dark'] .form-control[disabled],
html[theme='dark'] .form-control[readonly],
html[theme='dark'] fieldset[disabled] .form-control {
  color: #616161;
  background-color: #353535;
}
html[theme='dark'] .pagination > li > a,
html[theme='dark'] .pagination > li > span {
  color: #eeeeee;
  background-color: #1c1c1c;
  border-color: #303030;
}
html[theme='dark'] .pagination li a:hover {
  background-color: #2f2f2f;
}
html[theme='dark'] .pagination > .active > a,
html[theme='dark'] .pagination > .active > span,
html[theme='dark'] .pagination > .active > a:hover,
html[theme='dark'] .pagination > .active > span:hover,
html[theme='dark'] .pagination > .active > a:focus,
html[theme='dark'] .pagination > .active > span:focus {
  background-color: #3a3a3a;
  border-color: #4a4a4a;
}

html[theme='dark'] .nav .open > a,
html[theme='dark'] .nav .open > a:hover,
html[theme='dark'] .nav .open > a:focus {
  background-color: #333;
  color: #cfcfcf;
}
html[theme='dark'] .nav > li > a:hover,
html[theme='dark'] .nav > li > a:focus {
  background-color: #383838;
  color: #cfcfcf;
}
html[theme='dark'] .nav-pills > li.active > a,
html[theme='dark'] .nav-pills > li.active > a:hover,
html[theme='dark'] .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #3c739a;
}
html[theme='dark'] .reg-page {
  color: #e2e2e2;
  padding: 30px;
  background: #0e0e0e;
  border: solid 1px #1f1f1f;
  box-shadow: 0 0 3px #2f2f2f;
}
html[theme='dark'] .reg-header h2 {
  color: #e2e2e2;
}
html[theme='dark'] .input-group-addon {
  color: #dadada;
  background: #1d1d1d;
  border-color: #222;
}
html[theme='dark'] .breadcrumbs {
  background: #191919;
  border-color: #0e0e0e;
}
html[theme='dark'] .sky-form {
  border-color: #333;
}
html[theme='dark'] .sky-form,
html[theme='dark'] .sky-form fieldset,
html[theme='dark'] .sky-form footer {
  background: #222;
  color: white;
}
html[theme='dark'] .sky-form .radio,
html[theme='dark'] .sky-form .checkbox {
  color: #9a9a9a;
}
html[theme='dark'] .sky-form .radio i,
html[theme='dark'] .sky-form .checkbox i {
  background: #1f1f1f;
}
html[theme='dark'] .sky-form .radio input + i:after {
  background-color: #fff;
}
html[theme='dark'] .selectize-input {
  border-color: #222;
}
html[theme='dark'] .selectize-control.single .selectize-input.input-active,
html[theme='dark'] .selectize-input {
  background: #4a4a4a;
}
html[theme='dark'] .selectize-dropdown,
html[theme='dark'] .selectize-dropdown.form-control {
  background: #2d2d2d;
}
html[theme='dark'] .selectize-dropdown-content {
  color: #dfdfdf;
}
html[theme='dark'] .selectize-dropdown .active {
  background-color: #dcdcdc;
  color: #000000;
}
html[theme='dark'] .selectize-control.multi .selectize-input > div {
  background: #1f1f1f;
  color: #fff;
}
html[theme='dark'] .chosen-container-single .chosen-single {
  border-color: #191919;
  background-color: #161616;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(20%, #292929),
    color-stop(50%, #222222),
    color-stop(52%, #1f1f1f),
    to(#292929)
  );
  background: linear-gradient(
    #292929 20%,
    #222222 50%,
    #1f1f1f 52%,
    #292929 100%
  );
  -webkit-box-shadow: 0 0 3px #222 inset, 0 1px 1px rgb(21, 21, 21, 0.1);
  box-shadow: 0 0 3px #222 inset, 0 1px 1px rgb(21, 21, 21, 0.1);
  color: #b3b3b3;
}
html[theme='dark'] .chosen-container .chosen-drop {
  border-color: #292929;
  background: #191919;
  -webkit-box-shadow: 0 4px 5px rgb(21, 21, 21, 0.15);
  box-shadow: 0 4px 5px rgb(21, 21, 21, 0.15);
}
html[theme='dark'] .chosen-container .chosen-results li.highlighted {
  background-color: #2353a0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(20%, #2353a0),
    color-stop(90%, #1b4586)
  );
  background-image: linear-gradient(#2353a0 20%, #1b4586 90%);
  color: #fff;
}
html[theme='dark'] .chosen-container-single .chosen-search input[type='text'] {
  border-color: #3f3f3f;
}
html[theme='dark'] .dropdown-menu {
  background-color: #333;
}
html[theme='dark'] .dropdown-menu > li > a {
  color: #ccc;
}
html[theme='dark'] .dropdown-menu .divider {
  background-color: #4a4a4a;
}
html[theme='dark'] .dropdown-menu > li > a:hover,
html[theme='dark'] .dropdown-menu > li > a:focus {
  color: #dadada;
  background-color: #5f5f5f;
}
html[theme='dark'] .funny-boxes {
  background: #191919;
}
html[theme='dark'] .funny-boxes h2 a {
  color: #89c4e8;
}
html[theme='dark'] .funny-boxes-top-sea {
  border-top-color: #376c90;
}
html[theme='dark'] .funny-boxes-top-sea:hover {
  border-top-color: #252d3c;
}
html[theme='dark'] .search-block-v2 {
  background: #060606;
}
html[theme='dark'] .list-group-item {
  background: #222222;
  border-color: #2f2f2f;
}
html[theme='dark'] .sidebar-nav-v1 > li.active > a {
  color: white;
}
html[theme='dark'] .sidebar-nav-v1 > li.active,
html[theme='dark'] .sidebar-nav-v1 > li.active:hover {
  background: #555555;
  border-color: #5f5f5f;
}
html[theme='dark'] .sidebar-nav-v1 li a:hover,
html[theme='dark'] .sidebar-nav-v1 li a:active {
  color: #fafafa;
}
html[theme='dark'] .progress {
  background: #0c0c0c;
}
html[theme='dark'] .progress-bar {
  background-color: #0f4676;
}
html[theme='dark'] .progress-bar-success {
  background-color: #136a13;
}
html[theme='dark'] .panel-default > .panel-heading,
html[theme='dark'] .panel-default > .panel-footer {
  color: #fff;
  background-color: #262626;
  border-color: #313131;
}
html[theme='dark'] .panel-body {
  background-color: #333;
}
html[theme='dark'] .page-header > h1 {
  color: white;
}
html[theme='dark'] .blog-twitter .blog-twitter-inner {
  background: #252525;
}
html[theme='dark'] .blog-twitter .blog-twitter-inner:after {
  border-top: 15px solid #6d6d6d;
}
html[theme='dark'] .blog-twitter .blog-twitter-inner:before {
  border-bottom-color: black;
}
html[theme='dark'] .blog-twitter .blog-twitter-inner a.article-subject {
  color: #b1b1b1;
}
html[theme='dark'] .posts .dl-horizontal a {
  color: #c5c5c5;
}
html[theme='dark'] .result-ac {
  color: #09b58c !important;
}
html[theme='dark'] .result-wa {
  color: #dd4124 !important;
}
html[theme='dark'] .result-rte {
  color: #8d6bd8 !important;
}
html[theme='dark'] .result-ce {
  color: #458ac7 !important;
}
html[theme='dark'] .result-pe,
html[theme='dark'] .result-tle,
html[theme='dark'] .result-mle,
html[theme='dark'] .result-ole {
  color: #fa7268 !important;
}
html[theme='dark'] .result-co,
html[theme='dark'] .result-del {
  color: #505050 !important;
}
html[theme='dark'] .close {
  color: white;
  opacity: 0.5;
}
html[theme='dark'] .close:hover,
html[theme='dark'] .close:focus {
  color: white;
  opacity: 0.85;
}
html[theme='dark'] .alert-success {
  color: #3c763d;
  background-color: rgb(182, 226, 145, 0.1);
  border-color: #b6e291;
}
html[theme='dark'] .alert-info {
  color: #31708f;
  background-color: rgb(121, 205, 222, 0.1);
  border-color: #79cdde;
}
html[theme='dark'] .alert-danger {
  color: #ebccd1;
  background-color: rgb(221, 65, 36, 0.1);
  border-color: #8b3b2c;
}
html[theme='dark'] .alert-warning {
  color: #e1c48a;
  background-color: rgb(252, 248, 227, 0.1);
  border-color: #faebcc;
}
html[theme='dark'] .btn-default,
html[theme='dark'] #favorite_button {
  color: #fff;
  background-color: #232323;
  border-color: #272727;
}
html[theme='dark'] .btn-default:hover,
html[theme='dark'] #favorite_button:hover {
  background-color: #2f2f2f;
}
html[theme='dark'] .btn-primary {
  color: #fff;
  background-color: #20649e;
  border-color: #28689e;
}
html[theme='dark'] #contest_scoreboard a {
  color: #ffffff;
}
html[theme='dark'] #contest_statistics a {
  color: #a0a0a0;
}
html[theme='dark'] a.list-group-item.active > .badge,
html[theme='dark'] .nav-pills > .active > a > .badge {
  color: #ffffff;
  background-color: #161616;
}
html[theme='dark'] .label-success,
html[theme='dark'] .problem-label-ac {
  background-color: transparent;
  border: 1px solid #5cb85c;
  color: #5cb85c;
}
html[theme='dark'] .label-light-green,
html[theme='dark'] .problem-label-debug,
html[theme='dark'] .badge-light-green {
  background-color: transparent;
  border: 1px solid #79d5b3;
  color: #79d5b3 !important;
}
html[theme='dark'] .label-default,
html[theme='dark'] .label-light,
html[theme='dark'] .badge-light,
html[theme='dark'] .problem-label-multilang,
html[theme='dark'] .bookmark {
  background-color: transparent;
  border: 1px solid #777;
  color: #777 !important;
}
html[theme='dark'] .label-purple,
html[theme='dark'] .badge-purple {
  background-color: transparent;
  border: 1px solid #9b6bcc;
  color: #9b6bcc !important;
}
html[theme='dark'] .label-info {
  background-color: transparent;
  border: 1px solid #5bc0de;
  color: #5bc0de !important;
}
html[theme='dark'] .label-danger,
html[theme='dark'] .problem-label-wa {
  background-color: transparent;
  border: 1px solid #d9534f;
  color: #d9534f !important;
}
html[theme='dark'] .label-primary {
  background-color: transparent;
  border: 1px solid #428bca;
  color: #428bca !important;
}
html[theme='dark'] .label-warning {
  background-color: transparent;
  border: 1px solid #f0ad4e;
  color: #f0ad4e !important;
}
html[theme='dark'] .label-dark,
html[theme='dark'] .badge-dark {
  background-color: transparent;
  border: 1px solid #555;
  color: #555 !important;
}
html[theme='dark'] .label-aqua,
html[theme='dark'] .badge-aqua {
  background-color: transparent;
  border: 1px solid #27d7e7;
  color: #27d7e7 !important;
}
html[theme='dark'] .label-sea,
html[theme='dark'] .badge-sea {
  background-color: transparent;
  border: 1px solid #1abc9c;
  color: #1abc9c !important;
}
html[theme='dark'] .label-yellow,
html[theme='dark'] .badge-yellow {
  background-color: transparent;
  border: 1px solid #f1c40f;
  color: #f1c40f !important;
}
html[theme='dark'] .label-dark-blue,
html[theme='dark'] .badge-dark-blue {
  background-color: transparent;
  border: 1px solid #4765a0;
  color: #4765a0 !important;
}
html[theme='dark'] .problem-label-spj {
  background-color: transparent;
  border: 1px solid #5bc0de;
  color: #5bc0de !important;
}
html[theme='dark'] .problem-label-source {
  background-color: transparent;
  border: 1px solid #428bca;
  color: #428bca !important;
}
html[theme='dark'] .problem-label-preparing {
  background-color: transparent;
  border: 1px solid #f0ad4e;
  color: #f0ad4e !important;
}
html[theme='dark'] .problem-label-interactive {
  background-color: transparent;
  border: 1px solid #27d7e7;
  color: #27d7e7 !important;
}
html[theme='dark'] .problem-label-partial {
  background-color: transparent;
  border: 1px solid #5bc0de;
  color: #5bc0de !important;
}
html[theme='dark'] .problem-label-subtask {
  background-color: transparent;
  border: 1px solid #555;
  color: #555 !important;
}
html[theme='dark'] .problem-label-func {
  background-color: transparent;
  border: 1px solid #27d7e7;
  color: #27d7e7 !important;
}
html[theme='dark'] .problem-label-language-restrict {
  background-color: transparent;
  border: 1px solid #4765a0;
  color: #4765a0 !important;
}
html[theme='dark'] .content pre,
html[theme='dark'] .sampledata {
  color: #dedede;
  background-color: #1b1b1b;
  border-color: #3c3c3c;
}
html[theme='dark'] .space-highlight {
  background-color: rgba(123, 103, 24, 0.3);
}
html[theme='dark'] .user-admin {
  color: white !important;
}
html[theme='dark'] .user-legendary-first-letter {
  color: white !important;
}
html[theme='dark'] .s-results .inner-results h3 a {
  color: #fff;
}
html[theme='dark'] #problem-timer .dropdown-menu input.timer-number {
  color: white;
  background-color: #3f3f3f;
  border-color: #6a6a6a;
}
html[theme='dark'] .panel img,
html[theme='dark'] .redactor-modal,
html[theme='dark'] .redactor-dropdown,
html[theme='dark'] .redactor-styles figure,
html[theme='dark'] .redactor-box.redactor-styles-on,
html[theme='dark'] .CodeMirror,
html[theme='dark'] .CodeMirror-code,
html[theme='dark'] #problem-body img:not(.level_badge) {
  filter: invert(80%) hue-rotate(180deg) brightness(110%) contrast(150%);
  -webkit-filter: invert(80%) hue-rotate(180deg) brightness(110%) contrast(150%);
  -moz-filter: invert(80%) hue-rotate(180deg) brightness(110%) contrast(150%);
  transition: 0.2s ease-out;
}
html[theme='dark'] .panel img:hover,
html[theme='dark'] #problem-body img:not(.level_badge):hover {
  filter: none;
  transition: 0.3s;
}
html[theme='dark'] .redactor-styles p,
html[theme='dark'] .redactor-styles li,
html[theme='dark'] .redactor-styles blockquote,
html[theme='dark'] .redactor-styles pre,
html[theme='dark'] .redactor-styles table,
html[theme='dark'] .redactor-statusbar li {
  color: #000;
}
html[theme='dark'] .redactor-styles table th,
html[theme='dark'] .redactor-styles table td {
  border: 1px solid #ccc;
}
