.problem-toggles label {
  margin-left: 5px;
  margin-right: 10px;
}

.panel-body a > .pid,
.panel-body a > .pname {
  display: none;
  word-break: break-all;
}

.panel[show-id] a > .pid,
.panel-body[show-id] a > .pid {
  display: inline !important;
}

.panel[show-name] a > .pname,
.panel-body[show-name] a > .pname {
  display: inline !important;
}

.panel-body a:after {
  content: ' / ';
  text-decoration: none !important;
}

.panel-body a:last-child:after {
  content: '' !important;
}

.panel-body .pgroup.pg-0 {
  display: inline !important;
}

.panel-body .pgroup.pg-1 {
  display: none;
}

.panel-footer {
  background-color: #ffffff;
}

.panel-footer .btn-display-all {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin: -10px auto;
  text-align: center;
  cursor: pointer;
}
