{
  "presets":  [
    ["@babel/preset-env",{
      "targets": "chrome 55"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "dynamic-import-node"
  ],
  "ignore": ["**/build/*", "**/*.min.js"],
  "env": {
    "production": {
      "comments": false,
      "presets": [
        ["minify"]
      ],
      "plugins": [
        ["transform-remove-console", {
          "exclude": [ "error", "warn"]
        }]
      ]
    }
  }
}
