/* Fix bootstraps */
input.form-control.bg-color-red::placeholder {
  color: white;
}

/* Problem Timer */
#problem-timer .dropdown-menu {
  width: 200px;
  padding: 5px;
  text-align: center;
}

#problem-timer .dropdown-menu input.timer-number {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 4px 6px;
  width: 50px;
  text-align: center;
  margin: 3px;
}

/* Search Page */
.s-results .inner-results h3 a.result-pac {
  color: #efc050;
}
.s-results .inner-results h3 a.result-ac {
  color: #009874;
}
.s-results .inner-results h3 a.result-wa {
  color: #dd4124;
}

/* Quick Search */
#quick-search {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.075);
  backdrop-filter: blur(3px);
}

#quick-search .form-group {
  box-shadow: 0 0 3em rgb(0, 0, 0, 0.5);
  margin-bottom: 0;
}

#quick-search .results {
  background-color: #ffffff;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: 0;
}

#quick-search .results::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#quick-search .results::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 1rem;
}
#quick-search .results::-webkit-scrollbar-thumb:hover {
  background: #888;
}

#quick-search .results:empty {
  display: none;
}

#quick-search .results .quick-search-item:first-child {
  padding-top: 2rem;
}
#quick-search .results .quick-search-item:last-child {
  padding-bottom: 2rem;
}

#quick-search .results .quick-search-item {
  display: block;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #efefef;
}

#quick-search .results .quick-search-item b,
#quick-search .results .quick-search-item em,
#quick-search .results .quick-search-item strong {
  background-color: rgba(255, 255, 64, 0.25);
}

#quick-search .results .quick-search-item > .search-breadcrumb {
  margin-left: 0;
  margin-bottom: 3px;
}
#quick-search .results .quick-search-item > .search-breadcrumb > li {
  padding: 0;
}
#quick-search
  .results
  .quick-search-item
  > .search-breadcrumb
  > li
  + li:before {
  content: '/\00a0';
}

#quick-search .results .quick-search-item > .title {
  font-size: 1.25em;
  margin-bottom: 5px;
}

#quick-search .results .quick-search-item > .meta {
  color: #999;
  margin-bottom: 5px;
}
#quick-search .results .quick-search-item > .meta .date,
#quick-search .results .quick-search-item > .meta .comments,
#quick-search .results .quick-search-item > .meta .author {
  margin-right: 0.8em;
}

#quick-search .results .quick-search-item > .desc {
  margin-bottom: 5px;
  overflow-wrap: break-word;
}

#quick-search .results .quick-search-item > .links > a {
  margin-right: 1em;
}
#quick-search .results .quick-search-item > .links > .tag {
  display: inline-block;
  color: #6a9299;
  margin-right: 0.5em;
}
#quick-search .results .quick-search-item .links > .problem {
  display: inline-block;
  margin-right: 3px;
}
#quick-search
  .results
  .quick-search-item
  .links
  > .problem
  > a.problem-link-style-box {
  margin: 0 0 5px 0 !important;
}

#quick-search .results-footer {
  color: #999;
  text-align: right;
}

#quick-search .more-button {
  display: block;
  margin: 0 auto;
  display: block;
  width: max-content;
  border-radius: 5em !important;
  padding-left: 2em;
  padding-right: 2em;
}
#quick-search .tabs .tab {
  display: inline-block;
  padding: 0.5em 2em;
  border: 1px solid transparent;
  border-bottom: none;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  color: #565656;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
#quick-search .tabs .tab:hover,
#quick-search .tabs .tab:active {
  background-color: rgb(163, 163, 163, 0.5);
  border-color: rgb(147, 147, 147, 0.5);
  color: #141414;
}
#quick-search .tabs .tab.active {
  border-color: #bfbfbf;
  background-color: #ffffff;
  font-weight: bold;
  color: #000000;
  cursor: default;
}

/* Topbar */
.topbar .loginbar > li > a {
  cursor: pointer;
}

/* Theme Selector */
@keyframes loading-bar-waves {
  0% {
    height: 1px;
  }
  100% {
    height: 9px;
  }
}
.theme-selector .loading-bar {
  display: inline-block;
  position: relative;
  width: 3px;
  background-color: rgba(128, 128, 128, 0.75);
  animation-name: loading-bar-waves;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.theme-selector .loading-bar:not(:last-child) {
  margin-right: 2px;
}
.theme-selector .loading-bar.bar-1 {
  animation-delay: 0ms;
}
.theme-selector .loading-bar.bar-2 {
  animation-delay: 100ms;
}
.theme-selector .loading-bar.bar-3 {
  animation-delay: 200ms;
}
.theme-dropdown {
  display: block;
  position: absolute;
  top: 2em;
  left: 0;
  width: 120px;
  padding: 5px 0px;
  background-color: #ffffff;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.theme-dropdown:not([data-dropdown]) {
  display: none;
}

.theme-dropdown ul.theme-ul {
  margin: 0;
  padding: 0;
}

.theme-dropdown ul.theme-ul li.theme-li {
  list-style: none;
  color: #5a5a5a;
  padding: 5px 15px;
  cursor: pointer;
}
.theme-dropdown ul.theme-ul li.theme-li:hover {
  background-color: #f3f3f3;
}

/* Tooltip */
.rte-tooltip {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  position: absolute;
  top: -1em;
  left: 0;
  padding: 4px 10px;
  background-color: #343434;
  color: #fefefe;
  word-break: break-all;
}

.result-rte[data-reason] > a {
  text-decoration-style: wavy;
}

/* Problem Links */
a[href^='/problem'].problem-link-style-box {
  display: inline-block;
  padding: 3px 8px;
  margin: 2px;
  border: 1px solid transparent;
  background-color: #efefef;
  font-weight: normal;
  border-radius: 5px !important;
  line-height: 1.25;
  min-height: 18px;
}

a[href^='/problem'].problem-link-style-box.result-ac {
  background-color: #009874;
  color: white;
}

a[href^='/problem'].problem-link-style-box.result-pac {
  background-color: #efc050;
  color: white;
}

a[href^='/problem'].problem-link-style-box.result-wa {
  background-color: #dd4124;
  color: white;
}

a[href^='/problem'].problem-link-style-box:hover {
  font-weight: normal;
  background-color: transparent;
  border-color: #959595;
  text-decoration: none;
}

a[href^='/problem'].problem-link-style-box.result-ac:hover {
  background-color: transparent;
  border-color: #009874;
  color: #009874;
}

a[href^='/problem'].problem-link-style-box.result-pac:hover {
  background-color: transparent;
  border-color: #efc050;
  color: #efc050;
}

a[href^='/problem'].problem-link-style-box.result-wa:hover {
  background-color: transparent;
  border-color: #dd4124;
  color: #dd4124;
}

/* Alert Message */
.boj-ext-alert {
  position: fixed;
  display: block;
  right: 2em;
  bottom: 2em;
  width: 100%;
  max-width: 360px;
  z-index: 999;
  padding: 1em;
}

.boj-ext-alert.alert-default {
  border: 1px solid #383838;
  background: #303030;
  box-shadow: 0 0 1em rgb(0 0 0 / 20%);
}

.boj-ext-alert > .title {
  color: #d3d3d3;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 20px);
  float: left;
}

.boj-ext-alert > .title > a[href] {
  color: #43a0db;
}

.boj-ext-alert > .close {
  float: right;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 20px;
  cursor: pointer;
  opacity: 0.5;
  color: white;
}

.boj-ext-alert > .close:hover {
  opacity: 0.75;
  color: white;
  cursor: pointer;
}

/* solved.ac */
.solvedac-tier {
  filter: none !important;
}

/* compile and test results */
#testExampleResults > .alert a[href] {
  text-decoration: underline;
}
#testExampleResults .panel.panel-default:empty,
#testExampleResults .panel-body:empty {
  display: none !important;
}
#testExampleResults .panel-heading:not(:first-child) {
  border-top-width: 1px;
  border-top-style: solid;
}
#testExampleResults .panel-heading:after {
  content: attr(data-result);
  margin-left: 5px;
}
#testExampleResults pre.panel-body {
  border: none;
  outline: none;
  margin: 0;
  background: none;
}
#testExampleResults pre.panel-body::before,
#testExampleResults pre.panel-body:after {
  content: none;
}
#testExampleResults pre.panel-body.metadata {
  font-style: italic;
  opacity: 0.65;
}
