{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "chrome": "55",
          "firefox": "60"
        },
        "modules": false
      },
      ["minify", 
      { 
        "builtIns": false 
        }
      ]
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-arrow-functions"
  ],
  "ignore": ["**/build/*", "**/*.min.js"],
  "env": {
    "production": {
      "comments": false,
      "presets": [["minify"]],
      "plugins": [
        [
          "transform-remove-console",
          {
            "exclude": ["error", "warn"]
          }
        ]
      ]
    }
  }
}
