{
  "extends": ["eslint:recommended", "google", "prettier"],
  "plugins": ["prettier"],
  "ignorePatterns": [
    "**/node_modules/*",
    "**/build/*",
    "**/*.min.js",
    "**/third/*"
  ],
  "rules": {
    "semi": ["error", "always"],
    "require-jsdoc": ["off"],
    "no-console": ["off"],
    "no-undef": ["off"],
    "no-unused-vars": ["off"],
    "prettier/prettier": "error"
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "webextensions": true
  },
  "globals": {
    "chrome": false,
    "Constants": false,
    "Config": false,
    "LocalCache": false,
    "Utils": false
  }
}
